html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* navbar section */
.header {
    background-color: #9c1328;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #d73e3e;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* main section */
main.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

form.content {
    flex:2;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
}

.sidebar {
    flex:1;
    padding: 20px;
    background-color: #bdc3c7;
    border-radius: 10px;
    margin-left: 20px;
}

/* footer section */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    margin-top: 20px;
}

button.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button.btn:hover {
    background-color: #db343f;
    transform: scale(1.03);
}

table {
    margin-top: 10px;
    width: 100%; 
    border-collapse: collapse;
}

td {
    display: block;
    margin-bottom: 5px;
}

input, select, textarea, button {
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
}